---
---

@import "{{ site.theme }}";

body {
  background-color: #2C1839;
}

.main-content > h1, .main-content > h2,
.main-content >  h3, .main-content > h4,
.main-content > h5, .main-content > h6 {
  color: #69FF99;
}

.main-content > p {
  color: #8B939C;
}

.main-content > a {
  color: #FF1C8A;
}